.menu--account .menu {
  list-style: none;
}

.menu--main  {
  background: var(--color-link);
}

.menu--main .menu-item {
  text-align: center;
  list-style: none;
  border-top: 1px solid #fff;
}

@media (min-width: 600px) {

  .menu--main .menu-item {
    border-top: 0;
  }
}
