body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

.content-header {
  background: none;
  border: 0;
  padding-top: 0;
}

.navigation,
.content-footer {
  display: none;
}

.region-header,
.region-content,
.region-footer {
  padding: 0;
}

.node--view-mode-full .field--name-field-image {
  margin-top: 2rem;
}

.region-header {
  justify-content: center;
}

.site-branding {
  width: 170px;
}

.site-branding__name {
  font-size: 1.5rem;
}

.site-branding__slogan {
  font-size: 0.43rem;
}

.views-row {
  box-shadow: unset;
  border-radius: unset;
}
