.site-branding__inner {
  font-family: 'Manrope';
}

.site-branding__name {
  font-size: 2.55rem;
  font-weight: bold;
  line-height: var(--line-height-heading);
  letter-spacing: -0.1rem;
}

.site-branding__slogan {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
}
