html {
  height: 100%;
}

.dialog-off-canvas-main-canvas {
  height: 100vh;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.region-header,
.region-content,
.region-footer {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
