.site-branding__inner {
  /* display: flex;
  align-items: center;
  gap: 16px; */
}

.site-branding__text {
  display: flex;
  flex-direction: column;
}

.site-branding__name {
  margin: 0;
}

@media (min-width: 280px) {

  .site-branding__inner {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
