.menu--account {
  order: -1;
  align-self: end;
}

.menu--account .menu {
  margin: 0;
  display: flex;
  gap: 1rem;
}

@media (min-width: 480px) {

  .menu--account {
    order: unset;
    align-self: unset;
  }
}
