@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/manrope/Manrope-Bold.eot');
  src: url('../../fonts/manrope/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/manrope/Manrope-Bold.woff2') format('woff2'),
      url('../../fonts/manrope/Manrope-Bold.woff') format('woff'),
      url('../../fonts/manrope/Manrope-Bold.ttf') format('truetype'),
      url('../../fonts/manrope/Manrope-Bold.svg#Manrope-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/manrope/Manrope-Regular.eot');
  src: url('../../fonts/manrope/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/manrope/Manrope-Regular.woff2') format('woff2'),
      url('../../fonts/manrope/Manrope-Regular.woff') format('woff'),
      url('../../fonts/manrope/Manrope-Regular.ttf') format('truetype'),
      url('../../fonts/manrope/Manrope-Regular.svg#Manrope-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/manrope/Manrope-ExtraBold.eot');
  src: url('../../fonts/manrope/Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/manrope/Manrope-ExtraBold.woff2') format('woff2'),
      url('../../fonts/manrope/Manrope-ExtraBold.woff') format('woff'),
      url('../../fonts/manrope/Manrope-ExtraBold.ttf') format('truetype'),
      url('../../fonts/manrope/Manrope-ExtraBold.svg#Manrope-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/manrope/Manrope-ExtraLight.eot');
  src: url('../../fonts/manrope/Manrope-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/manrope/Manrope-ExtraLight.woff2') format('woff2'),
      url('../../fonts/manrope/Manrope-ExtraLight.woff') format('woff'),
      url('../../fonts/manrope/Manrope-ExtraLight.ttf') format('truetype'),
      url('../../fonts/manrope/Manrope-ExtraLight.svg#Manrope-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/manrope/Manrope-Medium.eot');
  src: url('../../fonts/manrope/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/manrope/Manrope-Medium.woff2') format('woff2'),
      url('../../fonts/manrope/Manrope-Medium.woff') format('woff'),
      url('../../fonts/manrope/Manrope-Medium.ttf') format('truetype'),
      url('../../fonts/manrope/Manrope-Medium.svg#Manrope-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/manrope/Manrope-Light.eot');
  src: url('../../fonts/manrope/Manrope-Light.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/manrope/Manrope-Light.woff2') format('woff2'),
      url('../../fonts/manrope/Manrope-Light.woff') format('woff'),
      url('../../fonts/manrope/Manrope-Light.ttf') format('truetype'),
      url('../../fonts/manrope/Manrope-Light.svg#Manrope-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/manrope/Manrope-SemiBold.eot');
  src: url('../../fonts/manrope/Manrope-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/manrope/Manrope-SemiBold.woff2') format('woff2'),
      url('../../fonts/manrope/Manrope-SemiBold.woff') format('woff'),
      url('../../fonts/manrope/Manrope-SemiBold.ttf') format('truetype'),
      url('../../fonts/manrope/Manrope-SemiBold.svg#Manrope-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-BoldItalic.eot');
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-BoldItalic.woff2') format('woff2'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-BoldItalic.woff') format('woff'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-BoldItalic.ttf') format('truetype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-BoldItalic.svg#OpenSansCondensed-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-ExtraBoldItalic.eot');
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-ExtraBoldItalic.woff2') format('woff2'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-ExtraBoldItalic.woff') format('woff'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-ExtraBoldItalic.ttf') format('truetype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-ExtraBoldItalic.svg#OpenSansCondensed-ExtraBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-Italic.eot');
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-Italic.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Italic.woff2') format('woff2'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Italic.woff') format('woff'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Italic.ttf') format('truetype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Italic.svg#OpenSansCondensed-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-MediumItalic.eot');
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-MediumItalic.woff2') format('woff2'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-MediumItalic.woff') format('woff'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-MediumItalic.ttf') format('truetype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-MediumItalic.svg#OpenSansCondensed-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-SemiBoldItalic.eot');
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-SemiBoldItalic.woff2') format('woff2'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-SemiBoldItalic.woff') format('woff'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-SemiBoldItalic.ttf') format('truetype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-SemiBoldItalic.svg#OpenSansCondensed-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-SemiBold.eot');
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-SemiBold.woff2') format('woff2'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-SemiBold.woff') format('woff'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-SemiBold.ttf') format('truetype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-SemiBold.svg#OpenSansCondensed-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-ExtraBold.eot');
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-ExtraBold.woff2') format('woff2'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-ExtraBold.woff') format('woff'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-ExtraBold.ttf') format('truetype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-ExtraBold.svg#OpenSansCondensed-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-LightItalic.eot');
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-LightItalic.woff2') format('woff2'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-LightItalic.woff') format('woff'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-LightItalic.ttf') format('truetype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-LightItalic.svg#OpenSansCondensed-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-Bold.eot');
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Bold.woff2') format('woff2'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Bold.woff') format('woff'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Bold.ttf') format('truetype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Bold.svg#OpenSansCondensed-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-Medium.eot');
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Medium.woff2') format('woff2'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Medium.woff') format('woff'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Medium.ttf') format('truetype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Medium.svg#OpenSansCondensed-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-Light.eot');
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-Light.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Light.woff2') format('woff2'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Light.woff') format('woff'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Light.ttf') format('truetype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Light.svg#OpenSansCondensed-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-Regular.eot');
  src: url('../../fonts/opensans_condensed/OpenSansCondensed-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Regular.woff2') format('woff2'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Regular.woff') format('woff'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Regular.ttf') format('truetype'),
      url('../../fonts/opensans_condensed/OpenSansCondensed-Regular.svg#OpenSansCondensed-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/font_awesome/fa-regular-400.eot');
  src: url('../../fonts/font_awesome/fa-regular-400.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/font_awesome/fa-regular-400.woff2') format('woff2'),
       url('../../fonts/font_awesome/fa-regular-400.woff') format('woff'),
       url('../../fonts/font_awesome/fa-regular-400.ttf') format('truetype'),
       url('../../fonts/font_awesome/fa-regular-400.svg#fontawesome') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url('../../fonts/font_awesome/fa-solid-900.eot');
  src: url('../../fonts/font_awesome/fa-solid-900.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/font_awesome/fa-solid-900.woff2') format('woff2'),
       url('../../fonts/font_awesome/fa-solid-900.woff') format('woff'),
       url('../../fonts/font_awesome/fa-solid-900.ttf') format('truetype'),
       url('../../fonts/font_awesome/fa-solid-900.svg#fontawesome') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/font_awesome/fa-brands-400.eot');
  src: url('../../fonts/font_awesome/fa-brands-400.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/font_awesome/fa-brands-400.woff2') format('woff2'),
       url('../../fonts/font_awesome/fa-brands-400.woff') format('woff'),
       url('../../fonts/font_awesome/fa-brands-400.ttf') format('truetype'),
       url('../../fonts/font_awesome/fa-brands-400.svg#fontawesome') format('svg');
  font-display: swap;
}
