:root {
  --max-width: 1200px;
  /*
   * Color Palette.
   */
  --color-absolutezero: var(--color-blue-600);
  --color-white: #fff;
  --color-text: var(--color-gray);
  --color-text-light: var(--color-gray-500);
  --color-gray-050-o-40: rgba(243, 244, 249, 0.4);
  /* Secondary. */
  --color-gray-200-o-80: rgba(212, 212, 218, 0.8);
  --color-maximumred: var(--color-red-500);
  --color-sunglow: #ffd23f;
  --color-sunglow-shaded: #977405;
  --color-lightninggreen: #26a769;
  --color-focus: var(--color-lightninggreen);
  /* Variations. */
  --color-absolutezero-hover: var(--color-blue-650); /* 5% darker than base. */
  --color-absolutezero-active: var(--color-blue-700); /* 10% darker than base. */
  --color-maximumred-hover: var(--color-red-550); /* 5% darker than base. */
  --color-maximumred-active: var(--color-red-600); /* 10% darker than base. */
  --color-bgblue-hover: var(--color-blue-020); /* 2% darker than base. */
  --color-bgblue-active: var(--color-blue-050); /* 5% darker than base. */
  --color-bgred-hover: var(--color-red-020); /* 5% darker than base. */
  --color-bgred-active: var(--color-red-050); /* 10% darker than base. */
  /* Gray variations. */
  --color-gray: #232429;
  --color-gray-900: #393a3f;
  --color-gray-800: #55565b;
  --color-gray-700: #75767b;
  --color-gray-600: #828388;
  --color-gray-500: #919297;
  --color-gray-400: #adaeb3;
  --color-gray-300: #c1c2c7;
  --color-gray-200: #d3d4d9;
  --color-gray-100: #dedfe4;
  --color-gray-050: #f3f4f9;
  --color-gray-025: #f9faff;
  /* Blue variations. */
  --color-blue: var(--color-blue-600);
  --color-blue-900: #000f33;
  --color-blue-800: #001f66;
  --color-blue-700: #002e9a;
  --color-blue-650: #0036b1;
  --color-blue-600: #003ecc;
  --color-blue-500: #004eff;
  --color-blue-400: #3371ff;
  --color-blue-300: #6694ff;
  --color-blue-200: #99b8ff;
  --color-blue-100: #ccdbff;
  --color-blue-070: #f3f4f9;
  --color-blue-050: #e5edff;
  --color-blue-020: #f5f8ff;
  /* Red variations. */
  --color-red: var(--color-red-500);
  --color-red-900: #2c0707;
  --color-red-800: #580e0e;
  --color-red-700: #841515;
  --color-red-600: #b01c1c;
  --color-red-550: #c61f1f;
  --color-red-500: #dc2323;
  --color-red-400: #e34f4f;
  --color-red-300: #ea7b7b;
  --color-red-200: #f1a7a7;
  --color-red-100: #f8d3d3;
  --color-red-070: #fae0e0;
  --color-red-050: #fce9e9;
  --color-red-020: #fdf5f5;
  /*
   * Base.
   */
  --color-fg: var(--color-text);
  --color-bg: var(--color-white);
  --color-link: var(--color-absolutezero);
  --color-link-hover: var(--color-absolutezero-hover);
  --color-link-active: var(--color-absolutezero-active);
  --color-divider: rgba(142, 146, 156, 0.5);
  /*
   * Typography.
   */
  /* --font-family: "Open Sans Condensed", sans-serif; */
  --font-family: "Manrope", sans-serif;
  --font-family-serif: "Times New Roman", times, serif;
  --line-height: 1.5;
  --line-height-heading: 1.3;
  --line-height-form-label: calc(18rem / 16); /* 18px */
  --font-size-base: 1rem; /* 1rem = 16px if font root is 100% ands browser defaults are used. */
  --font-size-xl: 2.25rem; /* ~36px */
  --font-size-h1: 2.027rem; /* ~32px */
  --font-size-h2: 1.802rem; /* ~29px */
  --font-size-h3: 1.602rem; /* ~26px */
  --font-size-h4: 1.424rem; /* ~23px */
  --font-size-h5: 1.266rem; /* ~20px */
  --font-size-h6: 1.125rem; /* 18px */
  --font-size-s: 0.889rem; /* ~14px */
  --font-size-xs: 0.79rem; /* ~13px */
  --font-size-xxs: 0.702rem; /* ~11px */
  --font-size-label: var(--font-size-s);
  --font-size-description: var(--font-size-xs);
  /**
   * Spaces.
   */
  --space-xl: 3rem; /* 3 * 16px = 48px */
  --space-l: 1.5rem; /* 1.5 * 16px = 24px */
  --space-m: 1rem; /* 1 * 16px = 16px */
  --space-s: 0.75rem; /* 0.75 * 16px = 12px */
  --space-xs: 0.5rem; /* 0.5 * 16px = 8px */
  /*
   * Common.
   */
  --speed-transition: 0.2s;
  --transition: all var(--speed-transition) ease-out;
  --base-border-radius: 2px;
  --focus-border-size: 0.1875rem;
  --focus-border-offset-size: 2px;
  --outline-size: 2px;
  --focus-outline: var(--outline-size) dotted transparent;
  --focus-box-shadow: 0 0 0 var(--focus-border-offset-size) var(--color-white), 0 0 0 calc(var(--focus-border-size) + var(--focus-border-offset-size)) var(--color-focus);
  /**
   * Shadows.
   */
  --shadow-z3: 0 0.875rem 1.875rem rgba(0, 0, 0, 0.1);
  /*
   * Inputs.
   */
  --input-fg-color: var(--color-fg);
  --input-bg-color: var(--color-bg);
  --input-fg-color--description: var(--color-gray-800);
  --input-fg-color--placeholder: var(--color-gray-700);
  --input-border-color: var(--color-gray-500);
  --input--hover-border-color: var(--color-text);
  --input--focus-border-color: var(--color-absolutezero);
  --input--error-color: var(--color-maximumred);
  --input--error-border-color: var(--color-maximumred);
  --input--disabled-color: rgba(84, 85, 96, 0.6); /* Davy's gray with 0.6 opacity. */
  --input--disabled-fg-color: var(--color-gray-600);
  --input--disabled-bg-color: #f2f2f3; /* Light gray with 0.3 opacity on white bg. */
  --input--disabled-border-color: #bababf; /* Old silver with 0.5 opacity on white bg. */
  --input--disabled-border-opacity: 0.5;
  --input-border-radius-size: 0.125rem; /* (1/8)em ~ 2px */
  --input-border-size: 1px; /* (1/16)em ~ 1px */
  --input--error-border-size: 2px;
  --input-padding-vertical: calc(var(--space-s) - var(--input-border-size));
  --input-padding-horizontal: calc(var(--space-m) - var(--input-border-size));
  --input-font-size: var(--font-size-base);
  --input-line-height: var(--space-l);
  --input-padding-vertical--small: calc(var(--space-xs) - (var(--input-border-size) * 2));
  --input-padding-horizontal--small: calc(var(--space-m) - var(--input-border-size));
  --input-font-size--small: var(--font-size-xs);
  --input-line-height--small: 1.3125rem;
  --input--extrasmall-padding-vertical: calc(0.15rem - var(--input-border-size));
  --input--extrasmall-padding-horizontal: calc(var(--space-xs) - var(--input-border-size));
  --input--extrasmall-font-size: var(--font-size-s);
  --input--extrasmall-line-height: calc(var(--space-m) + 0.2rem); /* Font size is too big to use 1rem for extrasmall line-height */
  --input--required-mark-size: 0.4375rem; /* 7px inside the form element label. */
  --input--label-spacing: 1.6875rem; /* 8px with the checkbox width of 19px */
  /*
   * Details.
   */
  --details-bg-color: rgba(243, 244, 249, 0.4);
  --details-border-color: var(--color-gray-100);
  --details-summary-shadow-color: var(--color-focus);
  --details-summary-focus-border-size: var(--focus-border-size);
  --details-desktop-wrapper-padding-start: calc(var(--space-m) + var(--space-s) + var(--space-xs));
  --details-box-shadow: 0 2px 0.25rem rgba(0, 0, 0, 0.1);
  --details-border-size: 1px;
  --details-border-size-radius: 2px;
  --details-accordion-border-size-radius: var(--base-border-radius);
  --details-spread-box-shadow-radius: 2px;
  --details-bg-color-transition-duration: 0.12s;
  --details-box-shadow-transition-duration: 0.2s;
  --details-transform-transition-duration: 0.12s;
  --details-line-height: 1.295rem;
  /**
   * Buttons.
   */
  --button--focus-border-color: var(--color-blue-300);
  --button-border-radius-size: var(--base-border-radius);
  --button-fg-color: var(--color-text);
  --button-bg-color: var(--color-gray-200);
  --button--hover-bg-color: var(--color-gray-300);
  --button--active-bg-color: var(--color-gray-400);
  --button--disabled-bg-color: #ebebed;
  --button--disabled-fg-color: var(--color-gray-500);
  --button-fg-color--primary: var(--color-white);
  --button-bg-color--primary: var(--color-absolutezero);
  --button--hover-bg-color--primary: var(--color-absolutezero-hover);
  --button--active-bg-color--primary: var(--color-absolutezero-active);
  --button--focus-bg-color--primary: var(--button-bg-color--primary);
  --button--disabled-bg-color--primary: var(--color-gray-200);
  --button--disabled-fg-color--primary: var(--color-gray-600);
  --button-fg-color--danger: var(--color-white);
  --button-bg-color--danger: var(--color-maximumred);
  --button--hover-bg-color--danger: var(--color-maximumred-hover);
  --button--active-bg-color--danger: var(--color-maximumred-active);
  /**
   * jQuery.UI dropdown.
   */
  --jui-dropdown-fg-color: var(--color-gray-800);
  --jui-dropdown-bg-color: var(--color-white);
  --jui-dropdown--active-fg-color: var(--color-white);
  --jui-dropdown--active-bg-color: var(--color-absolutezero);
  --jui-dropdown-border-color: rgba(216, 217, 224, 0.8); /* Light gray with 0.8 opacity. */
  --jui-dropdown-shadow-color: rgba(34, 35, 48, 0.1); /* Text color with 0.1 opacity. */
  /**
   * jQuery.UI dialog.
   */
  --jui-dialog-title-color: var(--color-white);
  --jui-dialog-title-bg-color: var(--color-text);
  --jui-dialog-title-font-size: var(--font-size-h4);
  --jui-dialog-close-button-size: calc(var(--space-m) * 2);
  --jui-dialog-close-button-border-radius: 50%;
  --jui-dialog-close-button-reserved-space: calc(var(--space-m) * 4);
  --jui-dialog-off-canvas-close-button-reserved-space: calc(var(--space-m) * 3);
  --jui-dialog-border-radius: 0.25rem;
  --jui-dialog-box-shadow: 0 0 var(--space-m) calc(var(--space-m) / -4) var(--color-text);
  --jui-dialog--focus-outline: 2px dotted transparent;
  --jui-dialog--focus-box-shadow: 0 0 0 0.1875rem var(--color-focus);
  --jui-dialog-z-index: 1260;
  --jui-dialog-off-canvas-z-index: 501;
  /**
   * Progress bar.
   */
  --progress-bar-border-size: 1px;
  --progress-bar-small-size: calc(var(--space-xs) - (2 * var(--progress-bar-border-size)));
  --progress-bar-small-size-radius: var(--space-xs);
  --progress-bar-spacing-size: var(--space-xs);
  --progress-bar-transition: width 0.5s ease-out;
  --progress-bar-label-color: var(--color-text);
  --progress-bar-description-color: var(--color-gray-800);
  --progress-bar-description-font-size: var(--font-size-xs);
  --progress-track-border-color: var(--color-gray-500);
  --progress-track-bg-color: var(--color-gray-200);
  /**
   * Tabledrag icon size.
   */
  --tabledrag-handle-icon-size: calc(17rem / 16); /* 17px */
  /**
   * Ajax progress.
   */
  --ajax-progress-margin-horizontal: var(--space-s);
  /**
   * Breadcrumb.
   */
  --breadcrumb-height: 1.25rem;
  /**
    * Vertical Tabs.
    */
  --vertical-tabs-margin-vertical: var(--space-s);
  --vertical-tabs-border-radius: var(--details-accordion-border-size-radius);
  --vertical-tabs-shadow: var(--details-box-shadow);
  --vertical-tabs-border-color: var(--details-border-color);
  --vertical-tabs-border-size: 1px;
  --vertical-tabs-border: var(--vertical-tabs-border-size) solid var(--vertical-tabs-border-color);
  --vertical-tabs-menu-item-shadow-extraspace: 0.5rem;
  --vertical-tabs-menu-item--top-margin: calc(var(--vertical-tabs-menu-item-shadow-extraspace) * -2);
  --vertical-tabs-menu-item--right-margin: calc(var(--vertical-tabs-border-size) * -1);
  --vertical-tabs-menu-item--bottom-margin: calc(var(--vertical-tabs-menu-item-shadow-extraspace) * -1);
  --vertical-tabs-menu-item--left-margin: calc(var(--vertical-tabs-menu-item-shadow-extraspace) * -1);
  --vertical-tabs-menu-separator-color: var(--color-gray-200);
  --vertical-tabs-menu-separator-size: 1px;
  --vertical-tabs-menu-width: 20em;
  --vertical-tabs-pane-width: calc(100% - var(--vertical-tabs-menu-width));
  --vertical-tabs-menu-link-focus-border-size: var(--details-summary-focus-border-size);
  --vertical-tabs-menu-link--active-border-size: 0.25rem;
  --vertical-tabs-menu-link--active-border-color: var(--color-absolutezero);
  --vertical-tabs-menu--z-index: 0;
}
