/**
 * @file
 * Visual styles for links.
 */

 a {
   text-decoration: none;
 }

.node--view-mode-teaser ul.links.inline {
  margin-top: auto;
  margin-bottom: 1rem;
}

ul.inline,
ul.links.inline {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-weight: 600;
  /* margin-left: 0; */
  /* padding-left: 0;
  margin-left: 0; */
}

[dir="rtl"] ul.inline,
[dir="rtl"] ul.links.inline {
  /* padding-right: 0;
  margin-right: 0;
  padding-left: 15px; */
}

ul.inline li {
  /* display: inline;
  padding: 0 0.5em;
  padding: 0; */
  list-style-type: none;
}

ul.links a.is-active {
  color: #000;
}
