/**
 * @file
 * Style another element as a link.
 */

.field--type-image a {
  width: 100%;
}

.menu--main a {
  display: block;
  padding: 1rem;
  color: #b2ccf5;
  font-weight: bold;
}

.menu--main a.is-active {
  color: #fff;
  text-decoration: underline;
}

.menu--main a:hover {
  color: #fff;
}

button.link {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  background: transparent;
  font-size: 1em;
}

label button.link {
  font-weight: bold;
}
