.node--view-mode-teaser .field--name-field-image {
  order: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.node--view-mode-full .field--name-field-image {
  /* order: -1; */
  text-align: center;
}
